* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* Font Sizing Begins */
h1 {
    font-size: 70px;
    color: #464654;
    background-color: transparent;
    font-weight: normal;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: #464654;
    font-weight: normal;
    background-color: transparent;
}

h3 {
    font-size: 20px;
    color: #464654;
    font-weight: normal;
    background-color: transparent;
    /* font-weight: normal; */
}

span {
    font-size: 18px;
    color: #464654;
}

p {
    font-size: 18px;
    color: #464654;
    text-align: left;
}
/* Font Sizing Ends */



/* Header and Nav Begins */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20%;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 15vh;
    z-index: 2;
    /* font-size: 12px; */
}

li, a {
    font-weight: 400;
    font-size: 16px;
    color: #464654;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 80px;
    width: 80px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 30px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: grey;
}
/* Header and Nav Ends */

/* .burger-button-div {
    display: none;
} */



/* Section Dividers Begins */
.section-divider {
    height: 10vh;
}

hr {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid black;
    margin: 5vh auto;
}
/* Section Dividers End */


/* Landing Image Begins */
.section-image-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: auto;
    margin-bottom: 10vh;
}

.landing-image-wrapper {
    margin-bottom: 0vh;
}

.section-image {
    /* height: 100vh; */
    margin: auto;
    width: 100%;
    object-fit: contain;
}

.section-text-box {
    position: absolute;
    background-color: transparent;
}

.section-text-box h1 {
    color: #f8f8ff;
    text-shadow:0.5px 0.5px 10px #464654;
    text-decoration: none;
    font-weight: normal;
}
/* Landing Image Ends */



/* Section Styling Begins */
.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-section {
    margin-top: 15vh;
}

.info-text {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin: auto;
    border: 1px solid #464654;
    padding: 16px;
    margin-bottom: 32px;
    margin-top: 32px;
}

.main-section h1 {
    margin: 5vh;
}

.callout-text {
    text-align: justify;
    margin-right: auto;
    margin-bottom: 16px;
}

.intro-text {
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 60vw;
    text-align: center;

}

/* Info Div!! */
/* Info Div!! */
/* Info Div!! */
.info-div {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin: auto;
    border: 1px solid #464654;
    padding: 16px;
    margin-bottom: 32px;
    margin-top: 32px;
}

.info-div h3 {
    margin: 32px;
}


.info-title {
    margin-top: 5vh;
}

.info-div p {
    margin: 32px;
}

/* Announcement Div Stars */
.construction {
    width: 60vw;
    height: 10vh;
    background-color: #FFE787;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.announcement-div {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin: auto;
    border: 1px solid #464654;
    padding: 16px;
    margin-bottom: 32px;
    margin-top: 32px;
}

.announcement-div h3 {
    margin: 32px;
}


.announcement-title {
    margin-top: 5vh;
}

.announcement-div p {
    margin: 32px;
}

.gift-card-link-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 15vw;
    margin: 2vw;
    border: 1px solid #464654;
    padding: 10px;
    object-fit: cover;
    background-color: #464654;
    text-align: center;
}

.gift-card-link-div h2 {
    color: white;
}

/* Announcement Div Ends */


/* Coffee Logo Links Start */
.coffee-program-links-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5vh;
}

.coffee-program-logo-div {
    display: flex;
    justify-content: center;
    width: 15vw;
    height: 15vw;
    margin: 2vw;
    border: 1px solid #464654;
    padding: 10px;
    object-fit: cover;
}

.coffee-program-logo-div img {
    max-width: 10vw;
    height: auto;
    object-fit: contain;
}

/* Press Section Begins */
.press-link-gallery div {
    margin: 2vh;
    text-align: center;
}
/* Press Section Ends */


/* Section Styling Ends */


/* Hours Section Beings */
.hours-section {
    margin-bottom: 10vh;
}

.hours-content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5vh;
}

.curio-hours-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 2vh;
    text-align: center;
    width: 30%;
}

.address-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 2vh;
    text-align: center;
    width: 30%;
}

.hours-info-text {
    text-align: center;
}
/* Hours Section Ends */


/* Image Gallery Begins */
.image-gallery-div {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    max-width: 60vw;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: auto;
  }

.column {
    display: flex;
    flex: 50%;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
    max-width: 50%;
    padding: 0 4px;
    justify-content: flex-start;
    /* margin: auto; */
    }

.column img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }

/* Image Gallery Ends */


/* Social Media Icons Div Begins */

.social-media-icons-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-icons-div p {
    text-align: justify;
    width: 50%;
    padding: 5vh;
}

.social-media-icons-div li {
    display: inline-block;
    text-decoration: none;
    margin: 20px;
}
/* Social Media Icons Div Ends */


/* Footer Begins */
footer {
    height: 15vh;
    bottom: 0;
}
/* Footer Ends */


/* Hamburger Menu Begins */
.burger-menu  {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 0;
    position: fixed;
    border-left: 1px solid grey;
    overflow: hidden;
    white-space: nowrap;
    z-index: 2;
    height: 100%;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .burger-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .burger-menu a:hover {
    color: #f1f1f1;
  }
  
  .burger-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }

  #burger-button {
      display: none;
  }
/* Hamburger Menu Ends */



/* Nav Intermediate Screen Size Begins */

  @media screen and (max-width: 1130px) {
    .nav-links li {
        padding: 0px 20px;
    }
  }

/* Nav Intermediate Screen Size Ends */



/* Mobile Section Begins */

  @media screen and (max-width: 768px){

    /* Mobile Header Begins */
    header {
        display: flex;
        justify-content: flex-end;
        padding: 20px 10vw;
        height: 20vh;
        width: 100%;
    }

    .logo {
        margin-right: auto;
    }

    .nav-links {
        display: none;
      }

    .burger-button-div {
        display: flex;
        margin-left: auto;
        padding: 2%;
        margin-right: 1px;
    }

    .burger-button-div img {
        height: 5vh;
        fill: #464654
    }

    #burger-button {
        display: inline-block;
    }

    
    /* Mobile Header Ends */


    .main-section {
        width: 100vw;
    }

    .section-image-wrapper {
        width: 100vw;
    }

    .image-gallery-div {
        max-width: 90vw;
    }

    .intro-text {
        width: 80vw;
    }

    /* .info-text {
        max-width: 80vw;
    } */

    .coffee-program-logo-div {
        width: 25vw;
        height: 25vw;
    }

    .coffee-program-logo-div img {
        max-width: 20vw;
        height: auto;
        object-fit: contain;
    }

    .curio-hours-div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 2vh;
        text-align: center;
        width: 80%;
    }

    .address-div {
        width: 80%;
    }

    h3 {
        max-width: 80vw;
    }

    .social-media-icons-div p {
        width: 90vw;
        text-align: left;
    }

    /* New Stuff */
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    .announcement-div {
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5vh;
        margin: auto;
        border: 1px solid #464654;
        padding: 16px;
        margin-bottom: 32px;
        margin-top: 32px;
    }
    
    .announcement-div h3 {
        margin: 32px;
    
    }
    
    .announcement-div p {
        margin: 32px;
        font-size: 14px;
        width: 80vw;
    }
    
    .gift-card-link-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 40vw;
        margin: 2vw;
        border: 1px solid #464654;
        padding: 10px;
        object-fit: cover;
        background-color: #464654;
    }
    
    .gift-card-link-div h2 {
        color: white;
        text-align: center;
        font-size: 18px;
    }

    .hours-content-wrapper iframe {
        width: 80vw;
        height: 30vh;
    }

    .social-media-icons-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
    
    .social-media-icons-div p {
        text-align: justify;
        width: 90%;
        padding: 5vh;
    }
    
    .social-media-icons-div li {
        display: inline-block;
        text-decoration: none;
        margin: 20px;
        text-align: center;
    }


    /* Info Div! */
    .info-div {
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5vh;
        margin: auto;
        border: 1px solid #464654;
        padding: 16px;
        margin-bottom: 32px;
        margin-top: 32px;
    }
    
    .info-div h3 {
        margin: 32px;
    
    }
    
    .info-div p {
        margin: 32px;
        font-size: 14px;
        width: 80vw;
    }

}
/* Mobile Section Ends */